<div class="grid grid-cols-1 xl:grid-cols-2 p-2 content-center justify-center">


    <div class="form flex justify-center p-2">




        <form class="w-[75%]" [formGroup]="loginForm" (ngSubmit)="Login()">

            @if(resMessage){
            <div role="alert" class="alert alert-error">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none"
                    viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span> {{resMessage}} </span>
            </div>
            }
            <div class=" my-3">
                @let userEmail = loginForm.get('email');

                <label class="font-bold text-xl text-indigo-800 dark:text-white" for="email"><span
                        class="text-rose-500">*</span>Email:</label>
                <input [class]="{
                    'input-valid' : userEmail?.errors && userEmail?.touched,
                    'input-invalid' : !userEmail?.errors && userEmail?.touched
                }" formControlName="email" class="input-linkly my-2" type="email" id="email" name="email"
                    placeholder="Ex:Youssef@gmail.com">

                @if(userEmail?.errors && userEmail?.touched){
                <div role="alert" class="alert alert-error flex">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none"
                        viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    @if(userEmail?.getError('required')){<p>-Email is required.</p>}
                    @if(userEmail?.getError('email')){<p>-Please enter a valid email address.</p>}
                </div>
                }

            </div>

            <div class=" my-3">
                @let userPassword = loginForm.get('password');

                <label class="font-bold text-xl text-indigo-800 dark:text-white" for="password"><span
                        class="text-rose-500">*</span>Password:</label>
                <input [class]="{
                    'input-valid' : userPassword?.errors && userPassword?.touched,
                    'input-invalid' : !userPassword?.errors && userPassword?.touched
                }" formControlName="password" class="input-linkly my-2" type="password" id="password" name="password"
                    placeholder="Ex:Pass@123">
                @if(userPassword?.errors && userPassword?.touched){
                <div role="alert" class="alert alert-error flex">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none"
                        viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    @if(userPassword?.getError('required')){<p>-Password is required.</p>}
                    @if(userPassword?.getError('minlength')){<p>-Password must be at least 8 characters long.</p>}
                    @if(userPassword?.getError('pattern')){<p>-Password must contain UPPERCASE, lowercase and numbers
                    </p>}
                </div>
                }

            </div>

            <div>
                <button [disabled]="loginForm.invalid"
                    class="disabled:bg-gray-500 disabled:cursor-not-allowed w-full block rounded-md bg-indigo-800 text-white py-2 px-4 rounded hover:bg-indigo-700 transition-all duration-300 cursor-pointer  my-2"
                    type="submit">@if(!isSpinner){ <span>Login</span> } @if(isSpinner){<i
                        class="fa-solid fa-circle-notch fa-spin"></i>}</button>
                <p class="text-center">Don't have an account? <a routerLink="/register"
                        class="text-indigo-800 dark:text-white hover:underline">Register here <i
                            class="fa-solid fa-user-plus"></i></a></p>
            </div>


        </form>

    </div>


    <div class="logo border-2 border-lime-800 dark:border-white  rounded-lg p-2 order-first xl:order-last">
        <img src="./image_8300ec2a.png" class="w-full self-center " alt="">
    </div>


</div>