<div class="grid grid-cols-2 pt-3">


    <div class="form ">

        <form [formGroup]="loginForm" (ngSubmit)="Login()">


            <div class="relative w-[75%]">
                <label class="absolute bottom-[90%] left-[2%] my-1 font-bold text-xl text-indigo-800 dark:text-white" for="email">Email:</label>
                <input class="input-linkly my-2" type="email" id="email" name="email" placeholder="Ex:Youssef@gmail.com">
            </div>


        </form>

    </div>


    <div class="logo border-2 border-lime-800  rounded-lg p-2">
        <img src="./image_8300ec2a.png" class="w-full" alt="">
    </div>


</div>