<div class="grid grid-cols-2 pt-3">


    <div class="form ">

        <form [formGroup]="loginForm" (ngSubmit)="Login()">

            <div>
                <label for="email">Email:</label>
                <label class="input validator">
                    <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none"
                            stroke="currentColor">
                            <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                            <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                        </g>
                    </svg>
                    <input type="email" placeholder="mail@site.com" required />
                </label>
                <div class="validator-hint hidden">Enter valid email address</div>
            </div>


        </form>

    </div>


    <div class="logo border-2 border-lime-800  rounded-lg p-2">
        <img src="./image_8300ec2a.png" class="w-full" alt="">
    </div>


</div>