<div class="w-[85%] xl:w-[100%]  p-2  mx-auto">


    <div class="w-[230px] my-3 xl:w-[600px] p-2 bg-white rounded-md">
        <div class="flex my-3 w-full  flex-col gap-4">
            <div class="skeleton bg-indigo-900 dark:bg-gray-200 h-32 w-full"></div>
            <div class="skeleton bg-indigo-900 dark:bg-gray-200 h-4 w-[28%]"></div>
            <div class="skeleton bg-indigo-900 dark:bg-gray-200 h-4 w-full"></div>
            <div class="skeleton bg-indigo-900 dark:bg-gray-200 h-4 w-full"></div>
        </div>
    </div>
    <div class="w-[230px] my-3 xl:w-[600px] p-2 bg-white rounded-md">
        <div class="flex my-3 w-full  flex-col gap-4">
            <div class="skeleton bg-indigo-900 dark:bg-gray-200 h-32 w-full"></div>
            <div class="skeleton bg-indigo-900 dark:bg-gray-200 h-4 w-[28%]"></div>
            <div class="skeleton bg-indigo-900 dark:bg-gray-200 h-4 w-full"></div>
            <div class="skeleton bg-indigo-900 dark:bg-gray-200 h-4 w-full"></div>
        </div>
    </div>
    <div class="w-[230px] my-3 xl:w-[600px] p-2 bg-white rounded-md">
        <div class="flex my-3 w-full  flex-col gap-4">
            <div class="skeleton bg-indigo-900 dark:bg-gray-200 h-32 w-full"></div>
            <div class="skeleton bg-indigo-900 dark:bg-gray-200 h-4 w-[28%]"></div>
            <div class="skeleton bg-indigo-900 dark:bg-gray-200 h-4 w-full"></div>
            <div class="skeleton bg-indigo-900 dark:bg-gray-200 h-4 w-full"></div>
        </div>
    </div>



</div>