<div class="w-[95%] md:w-[80%] lg:w-[60%] xl:w-[50%] mt-1  p-1  mx-auto">
    <div #c_Modal
        class="hidden fixed top-0 left-0 right-0 bottom-0  bg-[rgba(255,255,255,0.5)] dark:bg-[rgba(0,0,0,0.1)] flex items-center justify-center">
        <div
            class="w-full max-h-[400px] overflow-auto md:w-[80%] xl:w-[60%] bg-white shadow-sm shadow-gray-500/50 rounded-md p-1">
            <div class="relative">
                <div
                    class="sticky top-0 left-0 right-0 bg-gray-100 z-[2]  rounded-md flex items-center justify-between px-3 py-2">
                    <span class="text-indigo-700">Comments</span>
                    <span (click)="closeModal()" class="cursor-pointer"> <i
                            class="text-xl fa-solid fa-circle-xmark text-indigo-900"></i> </span>
                </div>
                <div>
                    <ul class="list text-black">
                        @for(comment of postComments ; track comment._id){
                        <li class="list-row justify-evenly border-b-2 border-gray-300">
                            <div class="w-[25px] h-[25px] md:h-[60px] md:w-[60px]">
                                <img alt="user comment photo" class="w-full h-full rounded-full"
                                    [src]="comment.commentCreator.photo" />
                            </div>
                            <div class="">
                                <div class="font-bold text-sm md:text-lg">
                                    {{comment.commentCreator.name}}
                                </div>
                                <div class="text-xs md:text-xs uppercase font-semibold opacity-60">
                                    {{comment.createdAt | date :'short'}}
                                </div>
                                <div>
                                    <div class="flex items-start flex-col justify-center">
                                        <p class="font-medium my-2 text-sm md:text-lg"> {{comment.content}} </p>
                                        @if(comment.image){
                                            <div
                                            class="w-[100px] md:w-[200px] md:h[200px] h-[100px] md:w-[200px] md:h[200px] rounded-md">
                                            <img class="w-full h-full rounded-lg" [src]="comment.image"
                                                alt="comment image">
                                        </div>
                                        }
                                    </div>
                                    <span (click)="repliesOfComment(comment.post , comment._id)"
                                        class="underline cursor-pointer">Replies {{comment.repliesCount}} </span>

                                    <!-- all replies -->
                                    <div class="c_replies_list">
                                        <ul class="list text-black">
                                            @for(reply of commentReplies ; track reply._id){
                                            <li class="list-row border-b-2 border-gray-300">
                                                <div class="w-[20px] h-[20px]">
                                                    <img class="w-full h-full rounded-full"
                                                        [src]="reply.commentCreator.photo" alt="user photo">
                                                </div>
                                                <div>
                                                    <div class="font-bold text-sm md:text-md">
                                                        {{reply.commentCreator.name}}
                                                    </div>
                                                    <div
                                                        class="reply_content flex items-center flex-column justify-center">
                                                        <div class="font-bold text-sm md:text-md">
                                                            {{reply.content}}
                                                        </div>
                                                        @if(reply.image){
                                                        <div
                                                            class="w-[100px] md:w-[200px] md:h[200px] h-[100px] md:w-[200px] md:h[200px] rounded-md">
                                                            <img class="w-full h-full rounded-lg" [src]="reply.image" alt="reply image">
                                                        </div>
                                                        }
                                                    </div>
                                                </div>
                                            </li>
                                            }
                                        </ul>
                                    </div>
                                </div>

                                <!-- leave a reply -->
                                <div class="flex items-center">
                                    <span><i class="fa-solid fa-reply fa-rotate-180"></i></span>
                                    <!-- <input class="ml-1 py-1 transition-all duration-100 outline-0 px-2 rounded-full bg-gray-50 w-full focus:outline-0 focus:inset-shadow-sm focus:inset-shadow-indigo-800/50" type="text" id="comment" placeholder="Type your Reply ...."> -->
                                    <div class="w-full md:w-2/3 bg-gray-100/50 rounded-lg p-2 mx-1 my-2">
                                        <input [(ngModel)]="replyConent" type="text"
                                            class="outline-0 focus:border-none w-full p-2"
                                            placeholder="Type your reply ....">
                                        <div
                                            class="border-t-2 border-gray-300 flex items-center justify-between overflow-hidden">
                                            <label for="r_img"
                                                class="r_img bg-white p-4 flex items-center justify-center m-2 w-5 h-5  text-lg rounded-lg ">
                                                <span><i class="fa-solid fa-images text-indigo-800"></i></span>
                                                <input (change)="holdReplyImag($event)" type="file" id="r_img"
                                                    class="w-[10%] bg-yellow-200">
                                            </label>
                                            <button [disabled]="!replyConent"
                                                (click)="replayOnComment(comment._id , comment.post)"
                                                class="btn btn-soft btn-primary">Reply</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button (click)="likeComment(comment.post , comment._id)" title="like comment"
                                class="flex items-center gap-x-1 self-start">
                                @if(comment.likes.includes(userInfo().user)){
                                <i class="fa-solid fa-heart text-yellow-400 text-lg"></i>
                                }@else{
                                <i class="fa-regular fa-heart text-lg"></i>
                                }
                                <span> {{comment.likes.length}} </span>
                            </button>
                        </li>
                        }@empty {
                        <p class="text-xl font-bold text-gray-700/50 text-center m-2 p-2">No comments yet!</p>
                        }
                    </ul>
                </div>
                <div class="comment-list-comment z-[2] bg-gray-100/50 text-black mt-1 border-t-2 border-gray-200 p-2">
                    <div class="user-comment bg-gray-100 p-2 rounded-md flex items-center  gap-x-1">
                        <div
                            class="user-comment-img flex items-center justify-center w-[35px] h-[35px] md:w-[25px] md:h-[25px] rounded-full border-2 border-indigo-500">
                            <img class="w-full rounded-full block" [src]="userDetails.photo" alt="user photo">
                        </div>
                        <div class="w-full flex items-center justify-between">
                            <input [(ngModel)]="commentConent"
                                class="py-1 transition-all duration-100 outline-0 px-2 rounded-full bg-gray-50 w-[90%] focus:outline-0 focus:inset-shadow-sm focus:inset-shadow-indigo-800/50"
                                type="text" id="comment" placeholder="Type your comment ....">
                            <label for="r_img"
                                class="r_img bg-white p-4 flex items-center justify-center m-2 w-5 h-5  text-lg rounded-lg ">
                                <span><i class="fa-solid fa-images text-indigo-800"></i></span>
                                <input (change)="holdReplyImag($event)" type="file" id="r_img"
                                    class="w-[10%] bg-yellow-200">
                            </label>
                            <button (click)="leaveComment()"
                                class="px-2 py-1 mx-1 rounded-lg bg-indigo-600 hover:bg-indigo-800 hover:shadow-sm font-bold text-white hover:shadow-teal-900 transition-all duration-300"><i
                                    class="fa-regular fa-paper-plane"></i></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    @if(posts.length>=0 ){
    @for(post of posts ; track post.id){
    <div
        class="post  text-black bg-white my-3 border-2 border-gray-200 shadow-md shadow-gray-400 dark:white p-2 rounded-md">
        <div class="post-head flex justify-between items-center">

            <div class="flex justify-between items-center gap-x-1">

                <div
                    class="user_photo w-[50px] h-[50px] xl:w-[80px] xl:h-[80px] rounded-full border-2 border-gray-300 p-1">
                    <img class="w-full h-full rounded-full" [src]="post.user.photo" alt="user photo">
                </div>
                <div class="">
                    <h2 class="text-lg lg:text-md font-bold text-gray-600"> {{ post.user.name }} </h2>
                    <p class="text-md lg:text-sm font-bold text-gray-400"> {{post.createdAt | date : 'short'}} </p>
                </div>
                <div class="flex items-center justify-center text-black">
                    <span><i class="fa-solid fa-bullhorn"></i></span>
                </div>
            </div>

            <div>
                <span class="text-gray-400 cursor-pointer" (click)="BookmarkPost(post._id)">
                    @if (post.bookmarked) {
                    <i class="fa-solid fa-bookmark"></i>
                    } @else {
                    <i class="fa-regular fa-bookmark"></i>
                    }
                </span>

            </div>

        </div>
        <div class="post-body p-2">
            <h2 class="font-semibold text-black  text-md mb-1"> {{post.body }}</h2>
            @if(post.image){
            <div class="border-2 border-gray-100 rounded-md">
                <img class="w-full rounded-md" [src]="post.image" alt="post image">
            </div>
            }
        </div>
        <div class="p-1">
            <!-- <p  class="text-black text-md hover:underline hover:cursor-pointer">
                <span >   </span>
            </p> -->

            <!-- The button's popovertarget attribute points to the modal's ID. ID must be unique for each modal -->
            <button (click)="PostLikes(post._id)" popovertarget="LikeList"
                class="text-black text-md  p-1 flex items-center justify-center rounded-full bg-gray-100">
                <span class=" flex items-center p-1 justify-center"><i
                        class="fa-solid fa-heart text-rose-500 "></i></span>
                <span class="mx-1 hover:underline hover:cursor-pointer">{{post.likesCount}} Likes</span>
            </button>

            <div class="modal" id="LikeList" popover>
                <div class="modal-box bg-white dark:bg-indigo-900 text-gray-500 dark:text-white">
                    <p class="p-4 pb-2 text-xs opacity-60 tracking-wide">People liked this post</p>
                    <ul class="list bg-white dark:bg-indigo-900 text-gray-500 dark:text-white rounded-box shadow-md">
                        @for(like of postLikes; track like._id){
                        <li class="list-row border-b-2 border-gray-200">
                            <div
                                class="w-[25px] h-[25px] xl:w-[40px] xl:h-[40px] rounded-full border-2 border-gray-600 dark:border-white p-1">
                                <img class="w-full rounded-full" [src]="like.photo" alt="user like photo" />
                            </div>
                            <div>
                                <div>
                                    <h1>
                                        {{like.name}}
                                    </h1>
                                </div>
                                <div class="text-xs uppercase font-semibold opacity-60">
                                    <h3>
                                        {{like.username}}
                                    </h3>
                                </div>
                            </div>

                        </li>
                        }
                    </ul>
                </div>
                <div class="modal-backdrop">
                    <button popovertarget="LikeList" popovertargetaction="hide">close</button>
                </div>
            </div>
        </div>
        <div class="post-actions  w-2/3 text-black mx-auto flex justify-between items-center">

            <div class="likes">
                <span (click)="LikePost(post._id)" class="cursor-pointer">
                    @if(post.likes.includes(userInfo().user)){
                    <i class="fa-solid fa-thumbs-up text-indigo-700"></i>
                    }@else {
                    <i class="fa-regular fa-thumbs-up"></i>
                    }
                </span>
                @if(post.likes.length > 0){<span> {{post.likesCount}} </span>}
            </div>
            <div (click)="forHoldingPostId(post._id)" (click)="showModal()" (click)="CommentsOfPost(post._id)"
                class="comments cursor-pointer btn bg-transparent text-black border-none shadow-none">
                <span>
                    <i class="fa-regular fa-comment"></i>
                </span>
                <span> {{post.commentsCount}} </span>
            </div>
            <div class="shares">
                <span><i class="fa-regular fa-share-from-square"></i></span>
                @if(post.sharesCount>0){<span> {{post.sharesCount}} </span>}

            </div>

        </div>
        <div class="text-black mt-1 border-t-2 border-gray-200 p-2">
            <div class="user-comment bg-gray-100 p-2 rounded-md flex items-center  gap-x-1">
                <div
                    class="user-comment-img flex items-center justify-center w-[35px] h-[35px] md:w-[25px] md:h-[25px] rounded-full border-2 border-indigo-500">
                    <img class="w-full rounded-full block" [src]="userDetails.photo" alt="user photo">
                </div>
                <div class="w-[80%] md:w-[90%]">
                    <input
                        class="py-1 transition-all duration-100 outline-0 px-2 rounded-full bg-gray-50 w-full focus:outline-0 focus:inset-shadow-sm focus:inset-shadow-indigo-800/50"
                        type="text" id="commentPost" placeholder="Type your comment ....">
                </div>
            </div>
        </div>
    </div>
    }
    }@else {
    <div class="w-[230px] my-3 xl:w-[600px] p-2 bg-white rounded-md">
        <div class="flex my-3 w-full  flex-col gap-4">
            <div class="skeleton bg-indigo-900 dark:bg-gray-200 h-32 w-full"></div>
            <div class="skeleton bg-indigo-900 dark:bg-gray-200 h-4 w-[28%]"></div>
            <div class="skeleton bg-indigo-900 dark:bg-gray-200 h-4 w-full"></div>
            <div class="skeleton bg-indigo-900 dark:bg-gray-200 h-4 w-full"></div>
        </div>
    </div>
    <div class="w-[230px] my-3 xl:w-[600px] p-2 bg-white rounded-md">
        <div class="flex my-3 w-full  flex-col gap-4">
            <div class="skeleton bg-indigo-900 dark:bg-gray-200 h-32 w-full"></div>
            <div class="skeleton bg-indigo-900 dark:bg-gray-200 h-4 w-[28%]"></div>
            <div class="skeleton bg-indigo-900 dark:bg-gray-200 h-4 w-full"></div>
            <div class="skeleton bg-indigo-900 dark:bg-gray-200 h-4 w-full"></div>
        </div>
    </div>
    <div class="w-[230px] my-3 xl:w-[600px] p-2 bg-white rounded-md">
        <div class="flex my-3 w-full  flex-col gap-4">
            <div class="skeleton bg-indigo-900 dark:bg-gray-200 h-32 w-full"></div>
            <div class="skeleton bg-indigo-900 dark:bg-gray-200 h-4 w-[28%]"></div>
            <div class="skeleton bg-indigo-900 dark:bg-gray-200 h-4 w-full"></div>
            <div class="skeleton bg-indigo-900 dark:bg-gray-200 h-4 w-full"></div>
        </div>
    </div>
    }
</div>