/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@config "./../tailwind.config.js";
@plugin "daisyui";

* {
  font-family: "Lato", sans-serif;
}
.main-btn {
  @apply bg-blue-500 hover:bg-blue-700 transition-all duration-200 text-2xl font-black rounded-lg p-3 text-white w-full disabled:bg-slate-300 disabled:cursor-no-drop disabled:hover:shadow-md;
}
.input-linkly{
  @apply transition-all duration-200 w-[100%] block mx-auto my-2 border-[0.2rem] border-indigo-900 rounded-[1rem] p-2 focus:shadow-lg focus:shadow-indigo-500/50 dark:focus:shadow-gray-500/50  focus:outline-none dark:border-white placeholder:text-slate-600 dark:placeholder:text-gray-200
}
.my-toast {
  background-color: #eee;
  border-radius: 30px;
  padding: 1rem;
  text-align: center;
  font-weight: 700;
  color: #000;
}
.my-toast-fail {
  background-color: #f71e1e;
  border-radius: 30px;
  padding: 1rem;
  text-align: center;
  font-weight: 700;
  color: #fff;
}
.my-toast-position {
  position: fixed;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
}
.input-valid {
  @apply border-rose-500 border-4;
}
.input-invalid {
  @apply border-emerald-500;
}
